<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AWS Bucket List App</title>


    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/signUp.js"></script>

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/showSignIn">SignIn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/showSignUp">SignUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/showAbout">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/showContactUS">Contact<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">AWS Bucket List</h3>
      </div>


      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>

    </div>
  </body>
</html>
